*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 70px;
    box-shadow: 2px 3px 3px 3px rgb(234, 222, 222);
}
.logo{
    display: flex;
    align-items: center;
}
.logo-title{
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}
.logo-title .G{
    color: rgb(239, 32, 197);
}
.menu ul{
    display: flex;
    align-items: center;
    
}
li{
    margin: 10px;
    list-style: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.follow-menu{
    display: flex;
    background-color: rgb(209, 218, 227);
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    
}.follow-menu li{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.follow-menu i{
    margin: 0 5px;
    font-size: 1.4rem;
}
#youtube{
    color: rgb(208, 5, 5);
}
/****************************nav end*********/

.head-section{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.text-content{
    margin-top: -50px;
}
.banner-img{
    margin-top: -124px;
}

.header-title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.gota-text{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(232, 25, 128);
    font-weight: 900;
    margin-left: 10px;
    margin: 20px 0;

}
.head-descritption{
    line-height: 2rem;
}
.description-item{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    margin-top: 30px;
}
.btn-sign{
    padding: 15px 25px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(230, 28, 142);
    color: wheat;
    font-size: 0.8rem;
}
.btn-go{
    padding: 15px 25px;
    border: 0;
    border-radius: 30px;
    background-color:rgb(5, 194, 131);
    color: white;
    font-size: 0.8rem;
    
}

/************************************gamming section tayle**************************/

.main-sectiion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -147px;
    background-color: rgb(247, 240, 247);
    padding: 50px 0;  
}
.gammer-content{
    text-align: end;
    margin-left: -30px;
    width: 500px;  
}
.gammer-title{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}
.gammer-descritptionw{
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-primary{
    padding: 18px 25px;
    background-color: rgb(236, 4, 205);
    color: white;
    border: 0;
    border-radius: 30px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 15px 0;
}
.our{
    font-family: Arial, Helvetica, sans-serif;
}
.unleash{
    font-weight: 900;
}


/***********************************online game section style*************/
.online-game-section{
    padding: 100px 0;
    text-align: center;
}
.online-title{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 10px 0;
}
.funny{
    color: rgb(255, 70, 252);
}
.online-descritpion{
    font-size: 1rem;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.online-img{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 40px 0;
     margin: 0 90px;
    
 
}



.online-img img{
    height: 400px;
    border-radius: 20px;
    
  
}
.opcity{
    position: relative;
    left: -200px;
    font-size: 2rem;
    opacity: 0;
    
    }
  

.opcity:hover{
    opacity: 1;

}
 .watch{
    left: -260px;
    top: 30px;
    font-size: 1rem;
    color: rgb(238, 226, 238);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 }
 .opcity i{
    color: rgb(246, 234, 234);
 }
    











/****************************respolsive*******************/

@media screen and (max-width: 576px) {
    
    .container{
        flex-direction: column;
        padding: 30px;
        width: auto;
        box-shadow: none;
    }
    .menu ul{
       flex-direction: column;
       
    }
    .head-section{
        flex-direction: column;
        background-image: none;
    }
    .text-content{
       padding: 20px;
       font-size: 1rem;
    }
    .banner-img{
        width: 300px;
        height: 300px;
       
    }
    .main-sectiion{
        flex-direction: column;
        background: none;
        width: auto;
    }
    .img-content img{
        width: 350px;
        height: 300px;
        padding: 20px 0;
      
   
    
       
    }
    .gammer-content{
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        width: auto;

    }
    .gammer-title{
        font-size: 2rem;
        text-align: center;
        margin-left: 22px;

    }
    .gammer-descritptionw{
        width: 280px;
        text-align: center;
        margin-left: 30px;
        font-size: 1rem;
    }
    .our{
        font-size: 1.2rem;
        text-align: center;
        
    }
    .unleash{
        font-size: 1.2rem;
        text-align: center;
        
    }

    .gammer-title{
        font-size: 2rem;
        text-align: center;
        margin-left: 22px;

    }
    .gammer-descritptionw{
        width: 280px;
        text-align: center;
        margin-left: 30px;
        font-size: 1rem;
    }
    .our{
        font-size: 1.2rem;
        text-align: center;
        
    }
    .unleash{
        font-size: 1.2rem;
        text-align: center;
        
    }
    .online-game-section{
        padding: 20px;
        width: auto;
    }
    .online-img{
        flex-direction: column;
        width: auto;

    }
    .online-img img{
        width: 250px;
        height: 250px;

    }
    .online-game-section{
        padding: 10px;
        text-align: center;
        width: auto;

    }
    .online-title{
        font-size: 1rem;
        text-align: center;
        width: auto;

    }
    .online-descritpion{
        font-size: 0.7;
        padding: 10px;
    }
}

   